#cmg {
  padding: 50px 0;
  --btn-pad: 5px 10px;
  --btn-rad: 5px;
  --large: 22px;
  --medium: 18px;
  --small: 16px;
}
#cmg .content {
  height: 560px;
  padding-bottom: 50px;
}
#cmg .left-col,
#cmg .right-col {
  width: 381px;
  min-width: 381px;
}
#cmg .center-col {
  width: 756px;
  min-width: 756px;
}
