#cmg-content {
  height: 650px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cmg_left-col,
#cmg_right-col {
  width: 291.6px;
  min-width: 291.6px;
}
#cmg_center-col {
  width: 756px;
  min-width: 756px;
}
