#cmg_menu {
  width: 756px;
  height: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#cmgmn_heading {
  margin-bottom: 10px;
  font-size: 3.75em;
  color: var(--primary);
  text-shadow: var(--black-stroke);
  text-align: center;
  text-transform: uppercase;
}
#cmgmn_line {
  font-size: 1.875em;
  font-weight: 700;
  color: var(--tertiary);
  letter-spacing: 1px;
}
