#cmg_message {
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--normal-shadow);
}
#cmgms_heading {
  margin-bottom: 10px;
  font-size: 3.75em;
  text-transform: uppercase;
}
#cmgms_line {
  font-size: 1.875em;
}
