.cmg_playground {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: var(--normal-shadow);
}
#large-pg {
  margin-top: 20px;
  width: 756px;
  height: 436px;
  padding: 20px;
}
#small-pg {
  width: 696px;
  height: 486px;
  padding: 15px;
}
