#cmg .group {
  margin-bottom: 20px;
}
#cmg .group > label {
  margin-bottom: 5px;
  font-size: var(--large);
  font-weight: 700;
}
#cmg label,
#cmg .start {
  font-size: var(--medium);
}
#cmg input[type="radio"] {
  margin-right: 5px;
}
#cmg label[for="easy"] {
  margin-right: 20px;
}
#cmg .card-type {
  margin-top: 5px;
  width: 90%;
  position: relative;
}
#cmg .show-line {
  padding: var(--btn-pad);
  border-radius: var(--btn-rad);
  background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-512.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
  cursor: default;
}
#cmg .dropdown {
  position: absolute;
  top: 101%;
  left: 2%;
  width: 96%;
  border-radius: 0 0 3px 3px;
}
#cmg input[type="button"] {
  width: 100%;
  padding: var(--btn-pad);
  border: none;
  border-radius: 3px;
  font-size: var(--small);
  text-align: left;
  background-color: white;
}
#cmg input[type="button"]:hover {
  background-color: rgb(239, 239, 239);
}
#cmg .start {
  font-weight: 700;
}
