#cmg_setup {
  padding: 20px 0;
  background-color: white;
  box-shadow: var(--lesser-shadow);
}
#cmg_fs-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#cmg_fs-btn {
  margin-left: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
#cmg_setup .group {
  margin: 0 30px;
}
.cmgst_heading {
  margin-bottom: 5px;
  font-size: 1.375em;
  font-weight: 700;
}

/* DIFFICULTY */
#cmg_setup .dfc-radio {
  margin-right: 5px;
}
#cmg_setup label {
  font-size: 1.125em;
}
#cmg_setup label[for="Easy"] {
  margin-right: 20px;
}

/* CARD TYPE */
#cmg_setup .card-type {
  position: relative;
  margin-top: 5px;
  width: 90%;
}
#cmg_setup .show-line {
  background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-512.png);
  cursor: default;
  text-transform: capitalize;
  box-shadow: var(--lesser-shadow);
}

#cmg_setup .dropdown {
  position: absolute;
  top: 101%;
  left: 2%;
  width: 96%;
}
#cmg_setup .type-btn {
  width: 100%;
  border: none;
  background-color: white;
  font-size: 1em;
  text-align: left;
  text-transform: capitalize;
}
#cmg_setup .type-btn:hover {
  background-color: var(--btn-hover);
}

#cmg_setup .start-btn {
  border: none;
  box-shadow: var(--normal-shadow);
  background-color: var(--primary-light);
  font-size: 1.125em;
  font-weight: 700;
  color: white;
}
#cmg_setup .start-btn:hover {
  background-color: var(--primary);
}
#cmg_setup .start-btn:active {
  box-shadow: var(--lesser-shadow);
  transform: scale(0.95);
}
