#cmgrc_stats {
  margin-bottom: 25px;
  padding: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: var(--normal-shadow);
}
#cmgrc_stats .desc,
#cmgrc_stats .num {
  margin: 5px 0;
  padding: 5px 10px;
  font-size: 1.375em;
  font-weight: 700;
}
#cmgrc_stats .desc {
  width: 60%;
}
#cmgrc_stats .num {
  width: 35%;
  background-color: black;
  text-align: right;
  color: white;
}
