#cmg_top-bar {
  position: relative;
  margin-bottom: 15px;
  padding: 5px 10px;
  width: 280px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  box-shadow: var(--normal-shadow);
}
#cmg_top-bar .desc,
#cmg_top-bar .num {
  margin: 5px 0;
  padding: 5px 10px;
  font-size: 1.25em;
  font-weight: 700;
}
#cmg_top-bar .desc {
  width: 60%;
}
#cmg_top-bar .num {
  width: 35%;
  background-color: black;
  text-align: right;
  color: white;
}
