#game-1024 {
  background-color: #eee;
}
#g1024_inner {
  width: var(--inner-width);
  margin: 0 auto;
}
#g1024_filler {
  height: 70px;
  color: var(--accent);
  text-align: center;
  font-style: italic;
}
#g1024_app {
  border: 3px solid black;
  border-radius: 10px;
  padding: 25px 0 50px;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#g1024_content {
  display: flex;
  justify-content: center;
}

#game-1024 .high-scores {
  padding: 50px 0 100px;
}
