#g1024_top-bar {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#g1024_fs-bar {
  margin-bottom: 15px;
  font-size: 1.375em;
  font-weight: 600;
  display: flex;
  align-items: center;
}
#g1024_fs-btn {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  border-radius: 50%;
  cursor: pointer;
}

#g1024_control-bar {
  display: flex;
  align-items: center;
}

#g1024_control-bar .start-btn {
  margin-right: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--normal-shadow);
  padding: 10px 15px;
  background-color: var(--primary-light);
  font-size: 1.125em;
  font-weight: 700;
  line-height: 20px;
  color: white;
}
#g1024_control-bar .start-btn:hover {
  background-color: var(--primary);
}
#g1024_control-bar .start-btn:focus {
  transform: scale(0.95);
  box-shadow: var(--lesser-shadow);
}

#g1024_score {
  position: relative;
  width: 220px;
  font-size: 1.5em;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#g1024_score .desc,
#g1024_score .num {
  padding-top: 5px;
  padding-bottom: 5px;
}
#g1024_score .num {
  width: 130px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: black;
  text-align: right;
  color: white;
}
#g1024_score .plus {
  position: absolute;
  left: 230px;
  opacity: 0;
}
.ascend-fade {
  animation: ascend-then-fade 500ms ease-out forwards;
}
@keyframes ascend-then-fade {
  0% {
    opacity: 1;
  }
  95% {
    transform: translateY(-30px);
  }
  100% {
    opacity: 0;
  }
}
