#apprentice {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
}
#query {
  --content-height: 40px;
  width: 900px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prepare-workbench {
  position: absolute;
  top: 15px;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--light-yellow);
  font-size: 1em;
  font-weight: 700;
  box-shadow: var(--lesser-shadow);
}
.prepare-workbench:hover {
  background-color: var(--yellow);
}
#work-on-skill {
  left: 15px;
}
#work-on-mastery {
  right: 15px;
}

#apprentice p {
  font-size: 20px;
  font-weight: 700;
  color: white;
  user-select: none;
}
#apprentice select,
#sb_inner {
  height: var(--content-height);
  font-size: 15px;
}
#apprentice select {
  margin-left: 10px;
  border-radius: 5px;
  padding: 0 5px;
}
#search-box {
  position: relative;
  width: 260px;
  margin-left: 10px;
}
#sb_inner {
  width: 100%;
  border: none;
  border-radius: 5px 0 0;
  padding: 0 15px;
}

#search-btn {
  width: var(--content-height);
  height: var(--content-height);
  border-radius: 0 5px 5px 0;
  background-color: var(--light-yellow);
  cursor: pointer;
}
#search-btn:hover {
  background-color: var(--yellow);
}
#search-icon {
  width: 20px;
  height: 20px;
  user-select: none;
}
