#footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--primary);
}
#footer_inner {
  width: var(--inner-width);
  height: 100%;
  margin: 0 auto;
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
