.game-card {
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: var(--shadow);
}
.game-card:hover {
  transform: scale(1.05);
}
.game-card .img-sec {
  height: 200px;
  border-radius: 5px 5px 0 0;
  background-color: #eee;
}
.game-card .line {
  align-self: center;
  font-size: 1.125em;
}
.game-card .extra-line {
  margin-top: 5px;
  font-size: 0.875em;
}

#top-games .rank {
  margin-right: 10px;
  min-width: 35px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
}
#top-games .top-3 {
  background-color: var(--primary);
  color: white;
}
#top-games .top-5 {
  background-color: var(--secondary);
  color: black;
}
#top-games .game-title:hover h4 {
  color: var(--accent);
}
#top-games .num {
  margin-top: 5px;
  font-size: 0.875rem;
  color: rgb(100, 100, 100);
}
