.game-card {
  width: 200px;
  margin: 10px;
  font-size: 1rem;
  box-shadow: var(--normal-shadow);
}
.game-card:hover {
  transform: scale(1.05);
}
.game-card .img-sec {
  height: 200px;
  border-radius: 5px 5px 0 0;
  background-color: #eee;
}
.gc_heading {
  align-self: center;
  font-size: 1.125em;
  font-weight: 700;
  color: var(--tertiary);
  cursor: pointer;
}
.gc_line {
  margin-top: 5px;
  font-size: 0.875em;
}

#top-games .rank-num {
  min-width: 35px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
}
#top-games .top-3 {
  background-color: var(--primary-light);
  color: white;
}
#top-games .top-5 {
  background-color: var(--secondary-light);
  color: black;
}
.gt_heading {
  cursor: pointer;
}
.game-title:hover .gt_heading {
  color: var(--tertiary);
}
.gt_line {
  margin-top: 5px;
  font-size: 0.875rem;
  color: rgb(100, 100, 100);
}
