.game-card {
  background-color: #eee;
  width: 200px;
  margin-bottom: 20px;
}
.game-card:not(:nth-child(4n)) {
  margin-right: 20px;
}
.img-sec {
  background-color: rgb(255, 255, 109);
  height: 150px;
}
.info-sec > p {
  margin-top: 5px;
  font-size: 14px;
}
