.hs_inner {
  width: 500px;
  margin: 0 auto;
  font-size: 1.25rem;
  background-color: white;
}
.hs_heading {
  border-radius: 3px 3px 0 0;
  background-color: var(--tertiary-light);
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5;
  color: white;
}
.hs_inner .list {
  padding: 10px 40px 10px 30px;
}
.hs_inner .row {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.hs_inner .rank-num {
  min-width: 35px;
  margin-right: 20px;
  border-radius: 5px;
  line-height: 2.5;
  text-align: center;
}
.hs_inner .top-3 {
  background-color: var(--primary-light);
  color: white;
}
.hs_inner .top-10 {
  background-color: var(--secondary-light);
  color: black;
}
.hs_inner .score {
  margin-left: auto;
}
