#home {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 27px;
  padding-left: 27px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  position: relative;
}
#add {
  position: fixed;
  left: 30px;
  top: 0;
  padding: 0 15px;
  line-height: 50px;
  font-size: 16px;
  color: white;
  background-color: #333;
  border: none;
}
#add:hover {
  background-color: #111;
}
.note-paper {
  width: 350px;
  height: 295px;
  margin-right: 27px;
  margin-bottom: 27px;
  border: 3px black solid;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 5px 20px rgba(0, 0, 0, 0.19);
}
.note-paper h1 {
  margin-bottom: 15px;
}
.note-paper p {
  margin-bottom: 20px;
}
.text-area {
  height: 209px;
  margin-bottom: 10px;
}
.control-bar {
  align-self: center;
  justify-self: flex-end;
}
#home .control-bar button {
  margin-right: 10px;
}
