#home {
  padding: 20px 0 60px;
  background-color: #eee;
}
#home-content {
  width: 900px;
  margin: 0 auto;
}

#home .top-sec {
  justify-content: space-between;
  margin-bottom: 20px;
}
#intro,
#top-games {
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
#intro {
  width: 70%;
  flex-direction: column;
  position: relative;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
#intro img {
  width: 100%;
  height: 100%;
}
#intro > div {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}
#intro h1 {
  font-size: 68px;
}
#intro h3 {
  font-size: 34px;
  margin-top: 10px;
  letter-spacing: 2px;
}
#top-games {
  background-color: white;
  width: 28%;
}
#top-games > h2 {
  border-bottom: 2px royalblue solid;
  margin-bottom: 15px;
}
#top-games > .list {
  flex-grow: 1;
  justify-content: space-between;
}

#home .mid-sec > h2 {
  border-bottom: 2px royalblue solid;
}

#home .btm-sec {
  padding: 10px;
  background-color: white;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
