#home {
  padding: 20px 0 60px;
  background-color: #eee;
}
#home_inner {
  width: var(--inner-width);
  margin: 0 auto;
}

/* TOP SECTION */
#home_inner .top-sec {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
#main-banner,
#top-games {
  height: 400px;
  border-radius: 5px;
  box-shadow: var(--normal-shadow);
}

#main-banner {
  position: relative;
  width: 68%;
  text-shadow: var(--white-stroke);
}
.main-banner_inner {
  position: absolute;
  top: 0;
  width: 75%;
  height: 100%;
  padding: 90px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  user-select: none;
}

#top-games {
  width: 30%;
  font-size: 1.125rem;
  background-color: white;
}
#top-games_heading {
  margin-bottom: 15px;
  border-bottom: 2px solid var(--tertiary);
  padding-bottom: 5px;
  text-align: center;
}
#top-games_list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MIDDLE SECTION */
#home_inner .mid-sec_heading {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--primary);
  border-bottom: 3px solid var(--tertiary);
}

/* BOTTOM SECTION */
#home_inner .btm-sec {
  padding: 10px;
  background-color: white;
  flex-wrap: wrap;
  box-shadow: var(--normal-shadow);
}
