#modal {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal_inner {
  position: relative;
  width: 400px;
  margin: 0 auto;
  background-color: white;
}
#notice-signup {
  width: 400px;
}

/* REDIRECTING > ASK SIGN */
#ask-signin {
  width: 550px;
}
#ask-bar {
  margin-top: 15px;
  align-self: center;
}
#ask-bar .stop-btn {
  margin-right: 5px;
}

#modal_heading {
  text-align: center;
  color: var(--primary);
}
.modal_main-line {
  /* input & button tags */
  margin-top: 15px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  font-size: 1rem;
}
.modal_sub-line {
  /* p tags */
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.modal_inner .last-btn {
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--primary-light);
  font-weight: 700;
  color: white;
  align-self: center;
}
.modal_inner .last-btn:hover {
  background-color: var(--primary);
}

#modal .tooltip {
  position: absolute;
  top: 20%;
  left: calc(100% + 11px);
  width: 50%;
  background-color: var(--secondary-light);
  text-align: left;
}
#modal .tooltip::after {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  border-style: solid;
  border-color: transparent var(--secondary-light) transparent transparent;
  border-width: 8px;
  content: "";
}
