#nav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--primary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.19);
}
#nav_inner {
  width: var(--inner-width);
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#nav_inner .logo {
  margin-right: 50px;
  font-size: 30px;
  font-weight: 700;
  user-select: none;
}
#nav_inner .logo:link,
#nav_inner .logo:visited {
  color: var(--nav-text);
}
#nav_inner .logo:hover,
#nav_inner .logo:focus {
  color: var(--nav-hover);
}

#nav_inner .search-bar {
  width: 450px;
}
#nav_inner .search-box {
  min-width: 400px;
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 8px 15px;
  font-size: 0.875rem;
}
#nav_inner .search-btn {
  min-width: 50px;
  border-radius: 0 3px 3px 0;
  background-color: var(--secondary-light);
  cursor: pointer;
}
#nav_inner .search-btn:hover {
  background-color: var(--secondary);
}
#nav_inner .search-icon {
  width: 16px;
  height: 16px;
  user-select: none;
}

#nav_menu {
  position: relative;
  margin-left: auto;
  display: flex;
  overflow: visible;
}

#nav_menu .menu-opt {
  margin-right: 20px;
  border: none;
  padding: 0;
  background-color: inherit;
  font-weight: 600;
  color: var(--nav-text);
}
#nav_menu .menu-opt:hover {
  color: var(--nav-hover);
}

#nav_menu .avatar {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
}
#nav_menu .username {
  align-self: center;
}
#nav_menu .dropdown {
  position: absolute;
  top: 130%;
  left: 0;
  width: 115px;
  padding: 7.5px 10px;
  background-color: white;
  box-shadow: var(--normal-shadow);
}
#nav_menu .acc-opt {
  margin: 2.5px 0;
  border: none;
  border-radius: 3px;
  padding: 10px;
  background-color: #eee;
  text-align: left;
}
#nav_menu .acc-opt:hover {
  background-color: var(--secondary);
}
