#head {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.19);
}
#nav-bar {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
}

#logo-head {
  font-size: 30px;
  font-weight: 700;
}
#logo-head:link,
#logo-head:visited {
  color: white;
}
#logo-head:hover,
#logo-head:focus {
  color: black;
}

#games-s-bar {
  width: 450px;
}
#games-s-box {
  min-width: 400px;
  padding-left: 20px;
  border: none;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
}
#games-s-btn {
  background-color: #fed218;
  min-width: 50px;
  border-radius: 0 3px 3px 0;
}
#games-s-icon {
  width: 16px;
  height: 16px;
}

#nav-bar .acc-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
  position: relative;
}
#nav-bar .acc-nav > button {
  padding: 0;
  border: none;
  background-color: inherit;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  /* line-height: 25px; */
  display: flex;
}
#nav-bar .acc-nav > button:hover {
  color: black;
}
#nav-bar .acc-nav > button:last-child {
  margin-left: 20px;
}

#acc-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
}
#nav-bar .acc-dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
#nav-bar .acc-dropdown > a,
#nav-bar .acc-dropdown > button {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}
#nav-bar .acc-dropdown > button {
  background-color: inherit;
  border: none;
}
#nav-bar .acc-dropdown > a:link,
#nav-bar .acc-dropdown > a:visited {
  color: black;
}
#nav-bar .acc-dropdown > a:hover,
#nav-bar .acc-dropdown > button:hover {
  background-color: #eee;
}
