#head {
  background-color: royalblue;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
}
#nav-bar {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 15px 0;
  justify-content: space-between;
}

#logo-head {
  line-height: 40px;
  font-size: 30px;
  font-weight: 700;
}
#logo-head:link,
#logo-head:visited {
  color: white;
}
#logo-head:hover,
#logo-head:focus {
  color: yellow;
}

#search-bar {
  width: 450px;
}
#search-box,
#search-btn {
  height: 30px;
}
#search-box {
  min-width: 400px;
  border: none;
  border-radius: 3px 0 0 3px;
}
#search-btn {
  background-color: yellow;
  min-width: 50px;
  border-radius: 0 3px 3px 0;
}
#search-icon {
  width: 16px;
  height: 16px;
  margin: 7px 17px;
}

#nav-bar .acc-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 160px;
}
#nav-bar .acc-nav > button {
  padding: 0;
  border: none;
  background-color: inherit;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  display: flex;
}
#nav-bar .acc-nav > button:hover {
  color: yellow;
}
#nav-bar .acc-nav > button:last-child {
  margin-left: 30px;
}

#acc-btn {
  position: relative;
}
#acc-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
#nav-bar .acc-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
#nav-bar .acc-dropdown > a,
#nav-bar .acc-dropdown > button {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
}
#nav-bar .acc-dropdown > button {
  background-color: inherit;
  border: none;
}
#nav-bar .acc-dropdown > a:link,
#nav-bar .acc-dropdown > a:visited {
  color: black;
}
#nav-bar .acc-dropdown > a:hover,
#nav-bar .acc-dropdown > button:hover {
  background-color: #eee;
}
