#profile {
  width: 100%;
  padding: 30px;
  display: flex;
}
#psn-info,
#other-info {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: var(--normal-shadow);
  height: 700px;
}
#psn-info {
  margin-right: 20px;
  padding: 40px 20px;
  width: 380px;
  min-width: 380px;
}
#other-info {
  min-width: 440px;
  flex-grow: 1;
}
