#profile {
  width: 1519.2px;
  /* innerWidth (1536) - scrollbar width
  set for profile left & right to not shrink */
  padding: 30px;
  justify-content: space-between;
}
#psn-info,
#achievements {
  box-shadow: var(--shadow);
  height: 800px;
}
#psn-info {
  padding: 40px;
  width: 28%;
}
#achievements {
  min-width: 70%;
}
