#profile {
  width: 1519.2px;
  /* innerWidth (1536) - scrollbar width,
  set for profile left & right not to shrink */
  padding: 30px;
  justify-content: space-between;
}
#psn-info,
#other-info {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: var(--normal-shadow);
  /* height: 800px; */
}
#psn-info {
  padding: 40px;
  width: 28%;
}
#other-info {
  min-width: 70%;
}
