#shelf {
  min-height: 652px;
  margin-top: 70px;
  background-color: #eee;
}
.shelf_container {
  padding: 30px;
  columns: 3;
  column-gap: 30px;
}
#skill-container {
  border-bottom: 2px solid black;
}

.kit-card {
  position: relative;
  margin-bottom: 30px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px 20px 10px;
  background-color: white;
  break-inside: avoid;
  box-shadow: var(--lesser-shadow);
}
.kit-card .fa-edit,
.kit-card .fa-trash {
  position: absolute;
  top: 15px;
  font-size: 20px;
  color: rgb(150, 150, 150);
  cursor: pointer;
}
.kit-card .fa-edit {
  right: 40px;
}
.kit-card .fa-trash {
  right: 15px;
}
.kit-card .fa-edit:hover,
.kit-card .fa-trash:hover {
  color: black;
}
.kc_heading {
  margin-bottom: 5px;
  width: 360px;
}
.kc_slot {
  font-size: 16px;
  font-weight: 700;
  color: rgb(125, 125, 125);
  white-space: nowrap;
}

.passive {
  color: rgb(0, 200, 0);
}
.active {
  color: blue;
}
.mastery {
  color: red;
}
.kc_subheading {
  margin-bottom: 15px;
  line-height: 1.8;
  font-size: 14px;
}
#kc_cats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#cat_desc {
  color: var(--red);
  font-weight: 600;
}
.kc_cat {
  margin: 2px;
  padding: 0 10px;
  border-radius: 20px;
  background-color: var(--light-yellow);
  cursor: pointer;
}
.kc_cat:hover {
  background-color: var(--yellow);
}
.kc-owner {
  padding: 2px 10px 5px;
  border-radius: 30px;
  background-color: rgb(212, 0, 212);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.kc-owner:hover {
  background-color: rgb(182, 0, 182);
}
.kc_line {
  margin-bottom: 5px;
  line-height: 1.5;
  text-align: justify;
}
