#shelf {
  min-height: 652px;
  margin-top: 70px;
  background-color: #eee;
}
.shelf_container {
  padding: 30px;
  columns: 3;
  column-gap: 30px;
}

.kit-card {
  position: relative;
  margin-bottom: 30px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px 20px 10px;
  background-color: white;
  text-align: justify;
  break-inside: avoid;
}
.kit-card .fa-edit,
.kit-card .fa-trash {
  position: absolute;
  top: 15px;
  font-size: 20px;
  color: rgb(150, 150, 150);
  cursor: pointer;
}
.kit-card .fa-edit {
  right: 40px;
}
.kit-card .fa-trash {
  right: 15px;
}
.kit-card .fa-edit:hover,
.kit-card .fa-trash:hover {
  color: black;
}
.kc_heading {
  margin-bottom: 5px;
}
.passive {
  color: rgb(0, 200, 0);
}
.active {
  color: blue;
}
.mastery {
  color: red;
}
.kit-card sup {
  font-size: 16px;
  font-weight: 700;
  color: rgb(125, 125, 125);
}
.kc_subheading {
  margin-bottom: 15px;
  font-size: 14px;
}
.kc_line {
  margin-bottom: 5px;
  line-height: 1.5;
}
