.signIU-form {
  width: 400px;
  margin: 100px auto;
  background-color: white;
  position: relative;
}
.signIU-form input,
.signIU-form button {
  padding: 10px;
  border: 1px black solid;
  border-radius: 3px;
  margin-top: 15px;
  font-size: 16px;
}
.signIU-form p {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.signIU-form button {
  align-self: center;
}

#su-repass {
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
  background-size: contain;
}
