.signIU-form {
  width: 400px;
  margin: 100px auto;
  background-color: white;
  position: relative;
}
.signIU-form > .tooltip {
  position: absolute;
  top: 25%;
  left: calc(100% + 11px);
  width: 50%;
  background-color: black;
  color: white;
  text-align: left;
}
.signIU-form > .tooltip::after {
  content: "";
  border-style: solid;
  border-color: transparent black transparent transparent;
  border-width: 8px;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -8px;
}
.signIU-form input,
.signIU-form button {
  padding: 10px;
  border: 1px black solid;
  border-radius: 3px;
  margin-top: 15px;
  font-size: 16px;
}
.signIU-form p {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.signIU-form button {
  align-self: center;
}

#cf-pass {
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
  background-size: contain;
}
