#cmg-content .left-col {
  padding: 30px 30px 0 60px;
}
#cmg-content .left-col > h1 {
  text-align: left;
  margin-bottom: 25px;
  font-size: 42px;
}
#cmg-content .left-col > h3 {
  text-align: left;
  margin: 0 0 10px 0;
  font-size: var(--large);
}
#cmg-content .left-col > p {
  margin: 0 0 15px 0;
  font-size: var(--medium);
  line-height: 1.6;
}
