#cmg-content .stats {
  padding: 15px;
  flex-wrap: wrap;
}
#cmg-content .stats > p {
  padding: var(--btn-pad);
  font-size: var(--large);
  font-weight: 700;
}
#cmg-content .stats > p:nth-child(1),
#cmg-content .stats > p:nth-child(2) {
  margin-bottom: 10px;
}
#cmg-content .desc {
  width: 60%;
}
#cmg-content .num {
  width: 35%;
  text-align: right;
  color: white;
  border-radius: var(--btn-rad);
  background-color: black;
}
