#profile .avatar {
  align-self: center;
  width: 100px;
  height: 100px;
}
#profile .left-col h1 {
  margin: 15px 0;
}
#profile .left-col p {
  font-size: 16px;
  line-height: 2;
}
#about {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  background-color: white;
  text-indent: 15px;
}
#profile .edit-btn {
  margin-top: 20px;
  align-self: center;
  background-color: royalblue;
  color: white;
  font-size: 16px;
}
#profile .edit-btn:hover {
  background-color: blue;
}

#profile .left-col input[name="username"] {
  width: 50%;
  align-self: center;
  text-align: center;
  margin: 15px 0;
  font-size: 22px;
  font-weight: 700;
}
#profile .left-col > .row {
  margin-bottom: 10px;
  justify-content: space-between;
}
#profile .left-col .row p {
  width: 35%;
}
#profile .left-col input[type="text"],
#profile .left-col input[type="date"],
#profile .left-col .gender {
  width: 63%;
}
#profile .left-col .gender {
  align-items: center;
}
#profile .left-col input[type="radio"] {
  margin-right: 5px;
}
#profile .left-col label {
  margin-right: 15px;
}
#profile .left-col textarea,
#profile .left-col input,
#profile .left-col label {
  font-size: 16px;
}
