#search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
}
#emoji-list {
  border: 3px black solid;
  border-radius: 5px;
  padding: 20px;
  columns: 3;
  box-sizing: border-box;
}
