#app-con {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
  text-shadow: -1px -1px 5px #fff, 1px -1px 5px #fff, -1px 1px 5px #fff,
    1px 1px 5px #fff;
}
