* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  width: 100%;
  height: 100%;
}
button,
input {
  outline: none;
  padding: 10px;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thinnest-border {
  border: 1px black solid;
}
.thinner-border {
  border: 2px black solid;
}
.thin-border {
  border: 3px black solid;
}
.narrow-padding {
  padding: 5px 10px;
}
.medium-padding {
  padding: 10px;
}
.wide-padding {
  padding: 20px;
}
.smaller-b-radius {
  border-radius: 3px;
}
.small-b-radius {
  border-radius: 5px;
}
.medium-b-radius {
  border-radius: 10px;
}
.warning {
  color: red;
}
.pointer {
  cursor: pointer;
}
.cover-body {
  width: 100%;
  min-height: calc(552 / 722 * 100vh);
}
.center-align {
  text-align: center;
}
